body {
/*
  background: url(vetdayflag.jpg);
  background-repeat: no;
  background-size: contain;
  background-position: center; */
}

.button {
  width: 35%;
  height: 5em;
  margin: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.overlay {
  margin: auto;
  position: absolute;
  top: 50px; left: 50px;
  bottom: 50px; right: 50px;
  background-color: white;
  color: blue;
  z-index: 999;
}

#results {
  flex-direction: column;
  margin-top: 50px;
  z-index: 9999;
  border: 2px solid black;
  background: white;
  align-items: center;
  justify-content: center;
}

#results p {
  width: 100%;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  margin: 15px;
}

#results th {
  background-color: lightgray;
}

#results th,td {
  padding-right: 20px;
  padding-left: 20px;
}

#results table {
  margin-bottom: 20px;
}

#results td:nth-child(1), th:nth-child(1) {
  text-align: left;
}

#results td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3) {
  text-align: center;
}

/* Capital container will stay fixed at the top */

#capitals {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 82px;
  z-index: 99;
  background: lightgrey;
  border-bottom: 1px solid darkgrey;
}

#message-div {
  position: absolute;
  color: red;
  font-weight: bold;
} 

#states {
  margin-top: 100px;
  width: 90%;
  overflow: scroll; 
}

.capital {
  font-size: xx-large;
  /*display: none;*/
}

.cap-used {
  /*display: none;*/
}

.cap-display {
  /*display: block;*/
}

.state {
  width: 45.0%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  border: 1px solid black;
  margin: 1px;
  cursor: pointer;
  background-color: #b8d5ef;
  border-radius: 100px / 50px;
}

.state:hover {
  /*transform: skew(10deg);*/
  background-color: lightgray;
}

.wrong {
  /*background-color: red;*/
}

#btnTryAgain, #btnReset {
  padding: 24px;
  margin: 36px;
  text-align: center;
}

toggle-btn {
  background: none;
}

#hamburger {
  position: absolute;
  left: 0; top: 20px;
  border: 0;
  outline: none;
  background: none;
  font-weight: bold;
  font-size: xx-large;
}

#hamburger-menu {
  width: 300px;
  position: fixed;
  left: 0; top: 82px;
  z-index: 998;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 8px 8px lightgray;
}

#hamburger-menu li {
  padding-top: 12px;
  font-size: large;
}

@media screen and (min-width: 350px) {
  .state {
    width: 30%;
  }

@media screen and (min-width: 800px) {
  body {
    width: 800px;
    margin: auto;
  }
}
