body {
  width: 100%;
}

.map-container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
}

#map {
  display: inline-block;
  height: 800px;
  width:  800px;
  margin-left: auto;
  margin-right: auto;
}

#states {
  display: flex;
  width: 100%;
  font-size: xx-large;
  position: fixed;
  top: 0; left: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  z-index: 99;
}

#hamburger {
  position: absolute;
  left: 0; top: 0;
  border: 0;
  outline: none;
  background: none;
  font-weight: bold;
  font-size: xx-large;
}

#hamburger-menu {
  width: 300px;
  position: fixed;
  left: 0; top: 50px;
  z-index: 998;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 8px 8px lightgray;
}

#hamburger-menu li {
  padding-top: 12px;
  font-size: large;
}
